body {
    margin: 0;
    padding: 0;
    background-color: var(--secondary); /* Fondo oscuro */
    color: var(--white); /* Texto claro para contraste */
    min-height: 100vh;
}

#app {
    display: grid;
    min-height: 100vh;
    grid-template-rows: auto 1fr auto;
    font-family: 'OpenSans', sans-serif;
    box-sizing: border-box;
    column-gap: 0;
    background-color: var(--secondary); /* Fondo del contenedor */
}

#app-box-content {
    position: relative;
    margin: auto;
    padding: 16px;
    width: 100%;
    max-width: 1400px;
    background-color: var(--darkblue); /* Fondo de página */
    color: var(--white); /* Texto blanco */
    border-radius: 8px;
    box-sizing: border-box;
    overflow-x: hidden;
}

.page-h2-title {
    font-weight: bold;
    text-align: center;
    font-size: 3rem;
}

@media (max-width: 1400px) {
    #app-box-content {
        max-width: 100vw;
    }
}
