:root {
    --primary: #E23D3D; /* Rojo del logo */
    --secondary: #1E1E1E; /* Fondo negro */
    --warning: #F2711C; /* Naranja */
    --danger: #FF4C4C; /* Rojo vibrante */
    --white: #F5F5F5; /* Blanco claro */
    --black: #000000; /* Negro puro */
    --blue: #3A506B; /* Azul oscuro inspirado en el logo */
    --darkblue: #1f2937; /* Azul más oscuro */
    --gray: #2D2D2D; /* Gris oscuro */
    --grey: #2D2D2D;
    --darkgrey: rgba(255, 255, 255, 0.16); /* Transparencia sobre negro */
    --yellow: #FFD700; /* Amarillo cálido */
}
